/* jura-300 - cyrillic-ext_latin_latin-ext_cyrillic */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Jura Light'), local('Jura-Light'),
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-300.svg#Jura') format('svg'); /* Legacy iOS */
}

/* jura-regular - cyrillic-ext_latin_latin-ext_cyrillic */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Jura Regular'), local('Jura-Regular'),
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-regular.svg#Jura') format('svg'); /* Legacy iOS */
}

/* jura-500 - cyrillic-ext_latin_latin-ext_cyrillic */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Jura Medium'), local('Jura-Medium'),
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-500.svg#Jura') format('svg'); /* Legacy iOS */
}

/* jura-600 - cyrillic-ext_latin_latin-ext_cyrillic */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local('Jura DemiBold'), local('Jura-DemiBold'),
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jura-v7-cyrillic-ext_latin_latin-ext_cyrillic-600.svg#Jura') format('svg'); /* Legacy iOS */
}
