body {
 background-image: radial-gradient(circle farthest-corner at center, #606060 20%, #414141 100%);
}
#vcard {
  margin: 60px auto 0 auto;
  width: 100%;
  height: 100%;
  background: #31A66C;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0,0,0, .3);
}
#card-content {
  width: auto;
  float: left;
  height: 100%;
    overflow:hidden;
    margin-left:100px;
}
#side-bar {
  width: 100px;
  float: right;
  background: #fff;
  height: 100%;
  border-radius: 0 4px 4px 0;
  box-shadow: -5px 0px 15px rgba(0,0,0, .3);
}
.profile {
  height:100%;
  border-bottom: solid 1px rgba(255,255,255,.2);
  padding:5px;
}
#options ul {
  margin: 0;
  padding: 0;
}
#options ul li{
  text-align: center;
  font-family: Jura;
  font-size: 14px;
  color: white;
  list-style-type: none;
  display: inline-block;
  float: left;
  width: 123px;
  height: 100px;
  border-right: solid 1px rgba(255,255,255,.2);
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
#options ul li:last-child{

  border-right: none;
}
#options ul li span.icon {
  display: block;
  margin-top: 25px;
  color: white;
  font-size: 24px;
  line-height: 32px;
}

#side-bar ul {
  margin: 0;
  padding: 0;
}
#side-bar ul li{

  text-align: center;
  font-family: Jura;
  font-size: 12px;
  color: #414141;
  list-style-type: none;
  display: inline-block;
  float: left;
  width: 100px;
  height: 115px;
  border-bottom: solid 1px #eaeaea;

}
#side-bar ul li:last-child{

  border-bottom: none;
}
#side-bar ul li span.icon {
  display: block;
  margin-top: 25px;
  color: #414141;
  font-size: 36px;
  line-height: 32px;
}

.profile {
  padding-top: 50px;
  text-align: center;
  overflow: hidden;
}

.profile#settings{
    height:100%;
    overflow-x:hidden;
    overflow-y:auto;
}

span.avatar span.icon{
  display: inline-block;
  color: #414141;
  font-size: 72px;
  line-height: 100px;
  background: #46af7b;
  border: solid 3px rgba(255,255,255, .2);
  overflow: hidden;
  padding-top: 1px;
  width: 90px;
  height: 90px;
  border-radius: 46px;
}
span.info {
  padding-top: 10px;
  display: block;
  font-family: Jura;
  font-size: 18px;
  color: rgba(255,255,255, .7);
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

span.info a{
  font-family: Jura;
  font-size: 18px;
  color: rgba(255,255,255, .7);
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,.3);
  text-decoration: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.info{
    max-width:240px
}

@media (max-width: 991px) {
    #card-content {
        margin-left:50px;
    }

    .info{
        max-width:240px
    }
}

@media (max-width: 479px) {
    #card-content {
        margin-left:0px;
    }

    .info{
        max-width:140px!important;
        font-size:10px!important;
    }

}