body {
  height: 100%;
  padding-left: 0px;
  background-color: #edeff2;
  font-family: Jura, sans-serif;
  color: rgba(0, 0, 0, .74);
  font-size: 16px;
  line-height: 20px;
}

html{
  font-family: Jura, sans-serif;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #313131;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Jura, 'Droid Sans', sans-serif;
  font-size: 15px;
}

a {
  float: none;
  text-decoration: underline;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #cf404d;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #000;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
}

.hamburger-button {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 54px;
  margin-top: 0px;
  padding-top: 18px;
  float: none;
}

.brand-text {
  margin-top: 8px;
  margin-bottom: 0px;
  float: left;
  font-family: Jura, sans-serif;
  color: #cf404d;
  font-size: 30px;
  line-height: 25px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
}

.section {
  position: relative;
  padding: 63px 40px;
  background-color: #fff;
}

.section.section-gray {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fafafa;
}

.call-to-action-section {
  padding: 44px 40px;
  background-color: #cf404d;
  color: #fff;
}

.call-to-action-heading {
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 400;
}

.align-right {
  text-align: right;
}

.hero-heading {
  margin-bottom: 19px;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 25px;
  color: #fff;
}

.hollow-button {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding: 11px 20px;
  border: 2px solid #1db0fc;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #1db0fc;
  line-height: 21px;
  text-decoration: none;
}

.hollow-button:hover {
  border-color: #000;
  color: #000;
}

.hollow-button.white {
  border-color: #fff;
  color: #fff;
}

.hollow-button.white:hover {
  border-color: #2d3e4f;
  background-color: #2d3e4f;
  color: #fff;
}

.hollow-button.red {
  border-color: #cf404d;
  background-color: #cf404d;
  color: #fff;
}

.hollow-button.red:hover {
  background-color: transparent;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #313131;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.section-subheading.center {
  font-family: Jura, 'Droid Sans', sans-serif;
  color: hsla(0, 0%, 45%, .74);
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}

.section-title-group {
  margin-bottom: 62px;
}

.form-field {
  min-height: 45px;
  margin-right: 1px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field:focus {
  box-shadow: 0 0 0 1px #2e80b6;
}

.form-field.text-area {
  min-height: 110px;
}

.form-wrapper {
  margin-top: 100px;
  padding-right: 13px;
  padding-left: 14px;
}

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
}

.social-icon-link {
  padding: 3px;
  opacity: 0.66;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon-link:hover {
  opacity: 1;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, .55);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: normal;
}

.link {
  position: absolute;
  bottom: 0;
  display: block;
  margin-bottom: 10px;
  color: #cf404d;
  text-decoration: none;
}

.link:hover {
  color: #30ad64;
}

.link2 {
  margin-bottom: 5px;
  color: #cf404d;
  text-decoration: none;
}

.link2:hover {
  color: #30ad64;
}
.grid-image {
  margin-bottom: 19px;
}

.hero-title-wrapper {
  position: relative;
  top: 40%;
  margin-bottom: 155px;
  text-align: center;
}

.left-navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  display: block;
  width: 329px;
  height: 100%;
  background-color: #2d3e4f;
}

.nav-link {
  display: block;
  padding: 20px 0px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #cf404d;
}

.nav-link.w--current {
  color: #cf404d;
}

.nav-menu {
  float: none;
}

.logo-link {
  display: block;
  margin-top: 216px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.social-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}

.banner {
  position: static;
  display: block;
  height: 100%;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/2jEqzi01Ru2HBhGLTBgB_MG_5236-500px.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/2jEqzi01Ru2HBhGLTBgB_MG_5236-500px.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.column-0-padding.bordering {
    margin:2px;
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, .21);
  border-radius: 2px;
  background-color: transparent;
}

.content {
  height: 100%;
}

.success-message {
  text-align: center;
}

.paragraph-form {
  margin-bottom: 0px;
}

.rightsidebar {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: block;
  height: 100%;
  min-width: 600px;
  max-width: 700px;
  margin-top: 0px;
  overflow-y:auto;
  overflow-x:hidden;
  background-color: #2d3e4f;
}

.top-navbar {
  background-color: #2d3e4f;
}

.top-hamburger-button {
  float: left;
}

.post-button.red.hollow-button {
  margin-top: 7px;
  float: right;
}

.red.w--current {
  color: rgba(0, 0, 0, .91);
}

.menu_link {
  color: rgba(180, 18, 18, .74);
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.social-auth {
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}

.soc-auth {
  margin-right: 5px;
  margin-left: 5px;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000001, 0.6000000000000001);
  -ms-transform: scale(0.6000000000000001, 0.6000000000000001);
  transform: scale(0.6000000000000001, 0.6000000000000001);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

html.w-mod-js *[data-ix="openauth"] {
  display: none;
}

html.w-mod-js *[data-ix="nothing"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="hide"] {
  display: none;
  opacity: 0;
}

@media (max-width: 991px) {
  body {
    margin-left: 0px;
    padding-left: 0px;
  }
  .hamburger-button {
    color: #fff;
  }
  .hamburger-button.w--open {
    background-color: #cf404d;
  }
  .hero-heading {
    font-family: Jura, 'Open Sans', sans-serif;
  }
  .form-wrapper.squeezed {
    padding-right: 8%;
    padding-left: 8%;
  }
  .hero-title-wrapper {
    top: 40%;
  }
  .left-navigation {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: 100%;
    height: 60px;
    float: none;
  }
  .nav-link {
    padding-left: 13px;
    text-align: left;
  }
  .nav-menu {
    background-color: #49647b;
  }
  .logo-link {
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }
  .social-footer {
    position: absolute;
    display: inline-block;
  }
  .banner {
    height: 500px;
  }
  .top-hamburger-button {
    display: block;
    float: right;
  }
  .post-button.red.hollow-button {
    float: left;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-top: 10px;
  }
  .brand-text {
    position: relative;
    left: 0px;
    top: 0px;
    display: none;
    overflow: visible;
    float: none;
    clear: none;
  }
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .call-to-action-heading {
    margin-bottom: 13px;
    text-align: center;
  }
  .align-right {
    text-align: center;
  }
  .hero-heading {
    font-size: 37px;
  }
  .hero-title-wrapper {
    top: 35%;
  }
  .grid-fours {
    width: 33.333%;
  }
  .column-0-padding {
    margin-bottom: 15px;
    text-align: center;
  }
  .column-remove-padding {
    padding-right: 0px;
    padding-left: 0px;
  }
  .rightsidebar {
    min-width: 100%;
  }
}

@media (max-width: 479px) {
  .brand-text {
    display: none;
    opacity: 1;
    line-height: 35px;
  }
  .form-wrapper.squeezed {
    padding-right: 2%;
    padding-left: 2%;
  }
  .hero-title-wrapper {
    top: 28%;
  }
  .banner {
    height: 450px;
  }
  .rightsidebar {
    display: none;
  }
}

a.hollow-button {
    text-decoration:none;
}

input.logout {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     color:#a1a5bf;
     font-weight:bold;
     border-bottom:1px solid #a1a5bf;
     cursor: pointer;
}

/**
* search input
*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
#scrollup {
position: fixed; /* фиксированная позиция */
opacity: 0.8; /* прозрачность */
padding: 15px 10px 10px; /* отступы */
background: #aaa;
border-radius: 5px; /* скругление углов */
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
left: 10px; /* отступ слева */
bottom: 10px; /* отступ снизу */
display: none; /* спрятать блок */
cursor: pointer;
}

.w-col div.h3{
    height:30px;
    max-height:30px;
    overflow:hidden;
    word-break:break-all;
}

.w-col div.h5{
    height:30px;
    max-height:30px;
    overflow:hidden;
    word-break:break-all;
}

.w-col div.par{
    max-height:120px;
    overflow:hidden;
    word-break:break-all;

}

.w-col-12 {
    word-break:break-all;
}